@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.cartao {
  width: 620px;
  height: 400px;
}

#SthefanySantos {
  padding: 48px;
  box-sizing: border-box;
  background:linear-gradient( 109.6deg,  rgba(41, 41, 41, 0.799) 11.2%, rgb(0, 0, 0) 91.1% );
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  color: #ffffff;
  font-family: 'Lora', sans-serif;
}

.cartao-sthefany h2 {
  font-size: 20px;
  font-weight: 400;
}

.cartao-sthefany h3 {
  font-size: 16px;
  font-weight: 400;
}

.redes-sthefany {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}


.container-icones {
  display: flex;
  gap: 16px;
}

.container-icones img:hover {
  opacity: .7;
}


.foto-perfil--borda {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #202020bf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-perfil {
  width: 170px;
  border-radius: 50%;
}